*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-color: #f9b9f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    
    display: flex;
   color: #2b3d41;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    
    font-size: 5rem;
}
h2{
    display: flex;
    color: #2b3d41;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    display: none;
    font-size: 3rem;

}
#game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
  
    height: 60vh;
    gap: 7px 14px;
    margin-top: 5rem;
    
}
.box{
    width: 12vw;
    height: 18vh;
    font-size: 5rem;
    color: #4c5f6b;
    background-color: #eadce9 ;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(188, 160, 188,0.7);
    border-radius: 1rem;
}
#reset{
    margin: 3rem;
    width: 7rem;
    height: 2rem;
    background-color: rgb(43, 61, 65);
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 300;
}
